@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@import "tailwindcss";

@theme {
  --font-oswald: "Oswald", sans-serif;
  --font-nunito: "Nunito", sans-serif;
  --font-nunitosans: "Nunito", serif;
  --font-merriweather: "Merriweather", serif;
  --font-roboto: "Roboto", sans-serif;
  --font-kanit: "Kanit", sans-serif;
  --font-khula: "Khula", sans-serif;
  --font-opensans: "Open Sans", sans-serif;
  --color-whiteTeal1: #f0fcff;
  --color-whiteTeal2: #cef4ff;
  --color-darkTeal1: #00868f;
  --color-darkTeal2: #013244;
  --color-darkBlue2: #001f43;
  --color-darkBlue1: #042748;
  --color-darkBlue3: #001426;
  --color-whatsapp: #25d366;
  --color-linkedin: #0077b5;
  --color-github: #181717;
}
